<p>
  <b>
    Select Company :
    <br />
    <br />
    <div class="form-control">
      <input type="radio" name="rdo" value="All" [(ngModel)]="selectValue" (change)="getradiobuttonValue()"/> All ({{All}}) &nbsp;&nbsp;
      <input type="radio" name="rdo" value="Renault"  [(ngModel)]="selectValue" (change)="getradiobuttonValue()"/> Renault ({{Renault}})&nbsp;&nbsp;
      <input type="radio" name="rdo" value="Mahindara"  [(ngModel)]="selectValue" (change)="getradiobuttonValue()"/> Mahindara ({{Mahindara}})&nbsp;&nbsp;
      <input type="radio" name="rdo" value="Maruti"  [(ngModel)]="selectValue" (change)="getradiobuttonValue()"/> Maruti ({{Maruti}})&nbsp;&nbsp;
      <input type="radio" name="rdo" value="Skoda"  [(ngModel)]="selectValue" (change)="getradiobuttonValue()"/> Skoda ({{Skoda}})
    </div>
  </b>
</p>